.slider {
    margin-bottom: 200px;
    position: relative;
}

.slider .owl-item.active.center .main-card {
    transform: scale(1.15);
    opacity: 1;
    width: 24rem;
    height: 26rem;
}

.main-card {
    margin-top: 120px;
    margin-left: 66px;
    width: 22rem;
    border-radius: 14px;
    /* transform: scale(0.9);
    transition: all 0.3s; */
}

.image {
    margin-top: 16px;
    height: 216px;
    width: 320px;
    padding-right: 9px;
    padding-left: 10px;
}

.button-section {
    margin-left: -6px;
}

.main-button {
    border: none;
    border-radius: 20px;
}

.button-one {
    background-color: #7084F6;
    color: #fff;
}

.button-two {
    background-color: #FF2D93;
    color: #fff;
}

.button-three {
    background-color: #FFC81D;
    color: #fff;
}

.button-four {
    background-color: #2EB1EA;
    color: #fff;
}

.card-title {
    margin-top: 16px;
    margin-left: -7px;
}

.card-text {
    margin-left: -5px;
}

.owl-dots {
    margin-top: 140px! important;
}